{% extends "invoice/dashboard.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'css/invoice.css' %}">
<body>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <header>
        <h1>New Invoice</h1>
        <div class="invoice_logo" style="float: left;">
            <div class="main">
                <img id="target"/>
                <input type="file" name="invoice_logo" required="required" onchange="putImage();" id="select_image"
                       accept="image/*">
                <span></span> Add Your Logo
            </div>
        </div>
    </header>
    <article>
        <h1>Recipient</h1>
        <table class="meta" style="float: left;">
            <td style="margin:10px;"><input type="text" name="invoice_from"
                                            placeholder="Who is this invoice from? (required)" required="required"></td>
            <tr>
                <th><span>Bill To</span></th>
                <th><span>Ship To</span></th>
            </tr>
            <tr>
                <td><input type="text" name="billing_address" placeholder="Who is this invoice to? (required)"
                           required="required"></td>
                <td><input type="text" name="shipping_address" placeholder="(Optional)"></td>
            </tr>
        </table>

        <table class="meta">
            <tr>
                <th><span>Invoice No #</span></th>
                <td><input type="text" name="invoice_num"></td>
            </tr>
            <tr>
                <th><span>Date</span></th>
                <td><input type="date" name="invoice_date"></td>
            </tr>

            <tr>
                <th><span>Payment terms</span></th>
                <td><input type="text" name="payment_terms"></td>
            </tr>

            <tr>
                <th><span>Due date</span></th>
                <td><input type="date" name="due_date"></td>
            </tr>
        </table>
        {{invoiceline_form.management_form |crispy }}
        <div>
            <table id="invoice_table">
                <thead>
                {% for form in invoiceline_form %}
                {% for field in form %}
                    {% if field.label != "Id" and field.label != "Invoice" %}
                        <th>{{ field.label }}</th>
                    {% endif %}
                {% endfor %}
                </thead>
                <tbody>
                <tr class="test">
                    {% for field in form %}
                    {% if field.label != "Id" and field.label != "Invoice" %}
                        {% if forloop.first %}
                        <td><a class="cut">-</a>{{ field }}</td>
                        {% else %}
                        <td>{{ field }}</td>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="add-form-row">+</a>

            <div>
                <table class="meta" style="float: left;">
                    <tr style="padding-bottom:10px">
                        <th><span>Notes</span></th>
                    <tr>
                        <td><input type="text" name="notes"
                                   placeholder="Notes - any relevant information not already covered"></td>
                    </tr>
                    <tr>
                        <th><span>Terms</span></th>
                    <tr>
                        <td><input style="width:60%" type="text" name="terms_and_conditions"
                                   placeholder="Terms and conditions - late fees, payment methods, delivery schedule">
                        </td>
                    </tr>
                </table>

                <table class="balance" style="float: right;">
                    <tr>
                        <th><span>Subtotal</span></th>
                        <td><span data-prefix>$</span><input id="id_subtotal" readonly="readonly" name="subtotal"
                                                             value="0.000"></td>
                    </tr>
                    <tr>
                        <th><span>Discount(%)</span></th>
                        <td><input type="number" name="discount" id="id_discout" max="99" value="0.000"></td>
                    </tr>
                    <tr>
                        <th><span>Tax(%)</span></th>
                        <td><input type="number" name="tax" id="id_tax" value="0.000"></td>
                    </tr>
                    <tr>
                        <th><span>Shipping</span></th>
                        <td><span data-prefix>$</span><input type="number" name="shipping_charge"
                                                             id="id_shipping_charge" value="0.000"></td>
                    </tr>
                    <tr>
                        <th><span>Total</span></th>
                        <td><span data-prefix>$</span><input type="number" name="total" readonly="readonly"
                                                             id="id_total" value="0.000"></td>
                    </tr>
                    <tr>
                        <th><span>Amount Paid</span></th>
                        <td><span data-prefix>$</span><input type="number" name="amount_paid" id="id_amount_paid"
                                                             value="0.000"></td>
                    </tr>
                    <tr>
                        <th><span>Balance Due</span></th>
                        <td><span data-prefix>$</span><input type="number" name="balance_due" readonly="readonly"
                                                             id="id_balance_due" value="0.000"></td>
                    </tr>
                </table>
            </div>
        </div>
    </article>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</body>
<script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}