{% extends "invoice/dashboard.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/invoice.css' %}">
<header>
  <h1>Invoice - {{invoice_data.invoice_num}}</h1>
  <div class="invoice_logo" style="float: left;">
    <div class="main">
      <img src="{{base_url}}" id="target">
    </div>
  </div>
</header>
<article>
  <h1>Recipient</h1>
  <table class="meta" style="float: left;">
    <td style="margin:10px;">{{invoice_data.invoice_from}}</td>
    <tr>
      <th><span>Bill To</span></th>
      <th><span>Ship To</span></th>
    </tr>
    <tr>
      <td>{% if invoice_data.billing_address %}{{invoice_data.billing_address}}{%endif%}</td>
      <td>{% if invoice_data.shipping_address %}{{invoice_data.shipping_address}}{%endif%}</td>
    </tr>
  </table>

  <table class="meta">
    <tr>
      <th><span>Invoice No #</span></th>
      <td>{{invoice_data.invoice_num}}</td>
    </tr>
    <tr>
      <th><span>Date</span></th>
      <td>{{invoice_data.invoice_date|date:"Y-m-d"}}</td>
    </tr>

    <tr>
      <th><span>Payment terms</span></th>
      <td>{{invoice_data.payment_terms}}</td>
    </tr>

    <tr>
      <th><span>Due date</span></th>
      <td>{{invoice_data.due_date|date:"Y-m-d"}}</td>
    </tr>
  </table>
  <div>
    <table class="inventory">
      <thead>
        <tr>
          <th><span>Item</span></th>
          <th><span>Description</span></th>
          <th><span>Quantity</span></th>
          <th><span>Rate</span></th>
          <th><span >Total</span></th>
        </tr>
      </thead>
      <tbody>
        {% for invoice_line in invoice_line_data %}
          <tr>
            <td>{% if invoice_line.item_name %}{{invoice_line.item_name}}{%else%}{%endif%}</td>
            <td>{% if invoice_line.item_description %}{{invoice_line.item_description}}{%else%}{%endif%}</td>
            <td>{% if invoice_line.quantity %}{{invoice_line.quantity}}{%else%}0{%endif%}</td>
            <td><span data-prefix>$</span>{% if invoice_line.price %}{{invoice_line.price}}{%else%}0.000{%endif%}</td>
            <td><span data-prefix>$</span>{% if invoice_line.line_total %}{{invoice_line.line_total}}{%else%}0.000{%endif%}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <table class="meta" style="float: left;">
        <tr style="padding-bottom:10px">
          <th><span>Notes</span></th>
          <tr><td>{% if invoice_data.notes %}{{invoice_data.notes}}{%endif%}</td>
        </tr>
        <tr>
          <th><span>Terms</span></th>
          <tr><td>{% if invoice_data.terms_and_conditions %}{{invoice_data.terms_and_conditions}}{%endif%}</td>
        </tr>
      </table>

      <table class="balance" style="float: right;">
        <tr>
          <th><span>Subtotal</span></th>
          <td><span data-prefix>$</span>{% if invoice_data.subtotal %}{{invoice_data.subtotal}}{% else %}0.000{% endif %}</td>
        </tr>
        <tr>
          <th><span>Discount(%)</span></th>
          <td>{% if invoice_data.discount %}{{invoice_data.discount}}{% else %}0.000{% endif %}</td>
        </tr>
        <tr>
          <th><span>Tax(%)</span></th>
          <td>{% if invoice_data.tax %}{{invoice_data.tax}}{% else %}0.000{% endif %}</td>
        </tr>
        <tr>
          <th><span>Shipping charges</span></th>
          <td><span data-prefix>$</span>{% if invoice_data.tax %}{{invoice_data.tax}}{% else %}0.000{% endif %}</td>
        </tr>
        <tr>
          <th><span>Total</span></th>
          <td><span data-prefix>$</span>{% if invoice_data.total %}{{invoice_data.total}}{% else %}0.000{% endif %}</td>
        </tr>
        <tr>
          <th><span>Amount Paid</span></th>
          <td><span data-prefix>$</span>{% if invoice_data.amount_paid %}{{invoice_data.amount_paid}}{% else %}0.000{% endif %}</td>
        </tr>
        <tr>
          <th><span>Balance Due</span></th>
          <td><span data-prefix>$</span>{% if invoice_data.balance_due %}{{invoice_data.balance_due}}{% else %}0.000{% endif %}</td>
        </tr>
      </table>
    </div>
  </div>
</article>

{% endblock %}
